################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/mandor/v15

# Visual Studio files (unused on Linux).
mandor.sln
mandor.vcxproj
mandor.vcxproj.filters
mandor.vcxproj.user
